<div class="backdrop-blur-2xl bg-black/50  bottom-0 w-full fixed mx-auto z-50">
  <div class="h-24 flex justify-evenly items-center ">
    <div class="">
      <div>
        Ordenes completadas
      </div>
      <p class="text-center">5</p>
    </div>
    <div class="">
      <div>Ordenes recibidas</div>
      <p class="text-center">8</p>
    </div>
  </div>
</div>
