<div class="border w-full h-52 border-black">
    <div>
        <h2>Card de prueba Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi quas, et maxime obcaecati vero blanditiis? Accusamus illum cum pariatur dolore obcaecati? Qui architecto harum, nostrum recusandae aperiam laudantium veritatis.</h2>
    </div>
</div>