
    <div class="accordion-item border">
        <div class="accordion-header">Título del primer elemento</div>
        <div class="accordion-content">
            Contenido del primer elemento Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odit molestiae ratione aliquid ipsum nobis quo porro est aperiam ab cupiditate cumque laudantium nam, itaque asperiores? Eaque quaerat odit accusamus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, accusamus nesciunt quia quibusdam explicabo excepturi quasi ut at laudantium corporis cumque laboriosam molestiae. Deleniti enim a odio voluptates et? Nemo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente nulla alias eligendi possimus provident optio error porro amet, earum deleniti. Dolores autem eveniet tempora ipsum totam earum ex et dignissimos!
        </div>
    </div>

<style> 
    .accordion-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item.active .accordion-content {
    display: block;
    max-height: 2000px; /* ajusta esto según tu contenido máximo */
}

</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const accordionItems = document.querySelectorAll('.accordion-item');

    accordionItems.forEach(item => {
        const header = item.querySelector('.accordion-header');

        if (header) {
            header.addEventListener('click', function() {
                // Toggle active class para expandir/cerrar
                item.classList.toggle('active');
            });
        }
    });
});


</script>