---
interface Props {
  title: string;
  numberTicket: number;
  additionalInformation?: string;
  colorStatus: string;
}
const {
  title,
  numberTicket,
  additionalInformation = "No hay novedades",
  colorStatus,
} = Astro.props;
---


<div
  class="space-y-4 w-97 dark:bg-darkCard bg-white h-auto mx-auto rounded-2xl my-4 z-50"
>
  <details
    class={`group border-s-8 border-${colorStatus}-500  rounded-2xl duration-1000 pl-2 py-4 [&_summary::-webkit-details-marker]:hidden`}
  >
    <summary class="flex flex-col cursor-pointer duration-100">
      <h2 class="font-medium text-xl">{title}</h2>
      <p class="left-0 dark:text-gray-300 text-gray-700 text-base">Foco rojo</p>
    </summary>
    <div
      class="overflow-hidden mt-4 flex bg-transparent flex-col transition-all duration-500 ease-in-out group-open:max-h-auto"
    >
      <label for="datatime" class="font-bold mt-3 mx-auto"
        >Ticket - {numberTicket}
        <span class="text-cyan-500">|</span> 15/7/2025 <span
          class="text-cyan-500">|</span
        > 15:38</label
      >
      <label for="datatime" class="font-bold mt-3">Orden iniciada</label>
      <input
        class="dark:bg-gray-900 bg-gray-50 h-12 w-11/12 mx-auto"
        type="datetime-local"
        id="datetime"
        name="datetime"
      />
      <label for="datatime" class="font-bold mt-3">Orden finalizada</label>
      <input
        class="dark:bg-gray-900 bg-gray-50 h-12 w-11/12 mx-auto"
        type="datetime-local"
        id="datetime"
        name="datetime"
      />
      <label for="options" class="font-bold mt-3">Estado</label>
      <select
        class="dark:bg-gray-900 bg-gray-50 h-12 w-11/12 mx-auto"
        name="opciones"
        id="opciones"
      >
        <option value="creado">Escoge una opción</option>
        <option value="creado">Creado</option>
        <option value="entregado">Entregado</option>
        <option value="enproceso">En proceso</option>
        <option value="pausada">Pausada</option>
        <option value="reagendada">Reagendada</option>
        <option value="cancelada">Cancelada</option>
      </select>
      <p class="font-bold mt-3">Informacion adicional</p>
      <p class="ml-4">{additionalInformation}</p>
    </div>
  </details>
</div>
