---
import Layout from "../../layouts/Layout.astro";
import OrderCard from "../../components/WebPages/orderCard.astro";
---

<Layout title="Kit Components | WebPages">
    <h1 class="text-6xl text-center mb-5 ">Control de ordenes diarias</h1>
    <OrderCard/>
    <OrderCard/>
    <OrderCard/>
</Layout>