---
import Layout from "../../layouts/Layout.astro";
import OrderCard from "../../components/WebPages/orderCard.astro";
import Acordion from "../../components/WebPages/acordion.astro";
import Acordion1 from "../../components/WebPages/accordion1.astro";
---

<Layout title="Kit Components | WebPages">
    <h1 class="text-6xl text-center mb-5 ">Control de ordenes diarias</h1>
    <OrderCard/>
    <Acordion1/>

</Layout>