---
import Layout from "../../layouts/Layout.astro";
import ModelCard from "../../components/WebPages/modelCard.astro"

---

<Layout title="Kit Components | Navbars">
    <h1 class="text-6xl text-center">Seccion de Pages</h1>
    <ModelCard/>
    <ModelCard/>
    <ModelCard/>
    <ModelCard/>

</Layout>