<div class="m-10 h-96 w-96">
  <div class="relative h-96">
    <img
      class="blur-2xl h-96"
      src="https://images.pexels.com/photos/1190690/pexels-photo-1190690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="fondo"
    />
    <img
      class="absolute top-0 left-0 h-96 rounded-xl"
      src="https://images.pexels.com/photos/1190690/pexels-photo-1190690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="fondo"
    />
    <div
      class="h-96 absolute top-0 left-0 opacity-0 bg-gray-900 hover:opacity-80 transition-opacity duration-300 text-white p-10 rounded-xl overflow-auto">
      <h3 class="text-3xl pb-10">Islas Galapagos</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quam
        nihil dolorum delectus corporis adipisci molestiae alias cupiditate quia
        molestias, fuga libero sit optio! Illo dicta doloremque soluta
        asperiores possimus.
      </p>
    </div>
  </div>
</div>
