<div class="lg:w-96 w-11/12 h-52 grid items-center justify-center mx-auto">
  <div class="border h-28 rounded-2xl lg:w-96 w-11/12 border-gray-400">
    <div class="mt-5 text-center">
      <h2 class="text-xl">001428 Byron Vladimir Tito Sandoval</h2>
    </div>

    <div class="mt-2">
      <div class="flex justify-evenly">
        <svg
          class="w-12 h-12 dark:text-white right-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 20V10m0 10-3-3m3 3 3-3m5-13v10m0-10 3 3m-3-3-3 3"></path>
        </svg>
        <div class="w-7 h-7 bg-red-700 rounded-full"></div>
        <div>
          <div class="w-4 h-4 mb-1 rounded-full bg-rose-600"></div>
          <div class="w-5 h-5 -m-3 rounded-lg bg-rose-600"></div>
          <div class="w-4 h-4 mt-1 rounded-full bg-rose-600"></div>
        </div>
        <div class="w-7 h-7 bg-green-700 rounded-full justify-center grid items-center  text-white text-center">
          W
        </div>
        <div class="border rounded-lg p-1 border-black h-8">
          <p class="">SJ</p>
        </div>
      </div>
    </div>
  </div>
</div>
