<div class="lg:w-96 w-11/12 h-52 my-10 grid items-center justify-center mx-auto">
  <div
    class="bordecito border rounded-2xl border-l-blue-800 p-1lg:w-96 w-full h-auto grid-flow-col grid duration-300"
  >
    <div class="grid items-center justify-center">
      <h2 class="text-lg">001428 Byron Vladimir Tito </h2>
    </div>
    <div class=" grid justify-end">
      <svg
        class="w-14 h-14 text-black right-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 20V10m0 10-3-3m3 3 3-3m5-13v10m0-10 3 3m-3-3-3 3"></path>
      </svg>
    </div>
  </div>
</div>

<style>
  .bordecito {
    border-left: 12px solid orange;
  }
</style>
