---
import Layout from "../layouts/Layout.astro";
import Mixblend from "../components/Cards/mixblend.astro";
import SimpleCard from "../components/Cards/simpleCard.astro";
import Order from "../components/Cards/order.astro";

---

<Layout title="Cards">
  <div class="flex justify-center">
    <div class="inline-block w-auto px-auto">
      <h1 class="w-full text-7xl lg:text-6xl text-center">Seccion de cards</h1>
    </div>
  </div>
  <div class="flex">

    <Mixblend/>
    <SimpleCard/>
    <Order/>
  </div>
</Layout>
