---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CardsInsCards from "../components/CardsInCards.astro";
import NavbarsInNavbars from "../components/navbarsInNavbars.astro";
import CodeExample from "../components/codeExample.astro";
---

<Layout title="Kit Components" transition:animate="fade">
  <Hero />
  <div class="grid lg:grid-cols-2 ">
    <CardsInsCards  />
    <NavbarsInNavbars />
  </div>
  <CodeExample/>

  
</Layout>
