---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CardsInsCards from "../components/CardsInCards.astro";
import NavbarsInNavbars from "../components/navbarsInNavbars.astro";
import Prueba from "../components/codeExample.astro";
---

<Layout title="Kit Components" transition:animate="fade">
  <Hero />
  <div class="grid grid-cols-2">
    <CardsInsCards  />
    <NavbarsInNavbars />
  </div>
  <Prueba/>
  
</Layout>
