---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CardsInsCards from "../components/CardsInCards.astro";
import NavbarsInNavbars from "../components/navbarsInNavbars.astro";
import Prueba from "../components/codeExample.astro";
import Order8 from "../components/Cards/order8.astro";

---

<Layout title="Kit Components" transition:animate="fade">
  <Hero />
  <div class="grid lg:grid-cols-2 ">
    <CardsInsCards  />
    <NavbarsInNavbars />
  </div>
  <Prueba/>
  <Order8/>

  
</Layout>
