---
import Layout from "../layouts/Layout.astro";
import BlurEfect from "../components/Navbars/blurEfect.astro";

---

<Layout title="Kit Components | Navbars">
  <h1 class="text-6xl text-center">Seccion de NavBars</h1>
  <BlurEfect/>
</Layout>