<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-black text-white">
    <main>
        <div class="text-9xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae quos modi harum architecto ab! Nisi architecto, expedita laboriosam obcaecati quod, in tenetur ratione laborum vel repellat voluptate accusamus voluptatem voluptas?
        </div>
    </main>
</body>
</html>