---
interface Props {
  url?: string;
  title: string;
}

const { title, url } = Astro.props;
---

<div
  class="blog__card w-96 border rounded-lg bg-slate- h-16 m-4 flex justify-center items-center">
  <li class="">
    {
      url && (
        <a class="" href={`../posts/${url}`}>
          {title}
        </a>
      )
    }
    <!-- {url} colocado de esa forma por que solo entrega el nombre del post que esta en .md -->
  </li>
</div>

<style>
  .blog__card {
    transition: 500ms ease-in-out;
  }

  .blog__card:hover {
    transform: scale(1.1);
  }
</style>
