---
const platform = "github";
const username = "withastro";
---

<footer class="flex justify-evenly bg-black text-white mt-4 py-5">
  <div class="footer__left">
    <p>Quito, Ecuador</p>
    <p>0987654321</p>
    <p>byronthyto@gmail.com</p>
    <p>Atencion 24 horas</p>
  </div>
  <div class="footer__center">
    <ul>
      <li><a href="">Política de privacidad</a></li>
      <li><a href="">Términos y condiciones</a></li>
      <li><a href="">Política de cookies</a></li>
    </ul>
  </div>
  <div class="footer__right">
    <p>Facebook</p>
    <p>GitHub</p>
    <p>X</p>
    <p>Instagram</p>
  </div>
</footer>

<style>
  footer{
    background-color: black;
  }
  p,li{
    margin: 5px;
  }
</style>