<div class="hero__container w-full h-full ">
  <div class="flex justify-center my-44">
    <div class="inline-block">
      <h1 class="title__hero text-8xl">Kit Components</h1>
      <p class="sutitle text-center text-2xl mt-8">Coleccion de componentes</p>
      <div class="flex gap-6 mt-2 justify-center">
        <p class="text-center border-2 rounded-2xl border-red-600 px-5 py-1">
          Html y CSS
        </p>
        <p class="text-center border-2 rounded-2xl border-violet-600 px-5 py-1">
          Tailwind
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .title__hero {
    background-color: #fa8bff;
    background-image: radial-gradient(
      at center top,
      rgb(209, 213, 219),
      rgb(192, 38, 211),
      rgb(234, 88, 12)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
