<header>
  <div class="flex gap-64 m-5  bg-">
    <div>
      <a href="#">Kit Components</a>
    </div>
    <div>
      <nav>
        <ul class="flex gap-10">
          <li><a href="#">Cards</a></li>
          <li><a href="#">Navbars</a></li>
          <li><a href="#">Footer</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <img src="" alt="" />
      <p>Byron Tito</p>
    </div>
  </div>
</header>
