<div class="blur__container bg-fondo bg-center bg-cover h-40 border rounded-3xl flex items-center text-white text-xl">
    <div class="flex justify-between w-full m-10 p-5 border rounded-xl backdrop-blur-xl  ">
        <div class="logo">🎃</div>
        <div class="menu">
            <ul class="flex gap-10 ">
                <li class="hover: backdrop-blur-2xl"><a href="">Inicio</a></li>
                <li><a href="">Sobre Nosotros</a></li>
                <li><a href="">Promociones</a></li>
                <li><a href="">Planes</a></li>
                <li class="hover:bg-black"><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="profile">Profile</div>
    </div>
</div>

<style>
    
</style>